* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

:root {
  --primary: #29F800;
  --black: #000000;
  --blackLighter: #9E9E9E;
  --grayLight: #F5F5F5;
  --grayMedium: #e5e5e5; 
  --white: #FFFFFF;
  --frontEnd: #6BD1FF;
  --backEnd: #00C86F;
}

html,
body {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
} 

.div404 {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.div404 img {
  max-width: 600px;
  width: 80%;
  margin-bottom: 2em;;
}

@media (max-width: 800px) {
  .div404 h1 {
    font-size: 1em;
  }
}

#root {
  min-height: calc(100vh - var(--bodyPaddingTop));
  display: flex;
  flex-direction: column;
}